<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<title>FCC--Request Header Microservice Project</title>
</head>
<body>
	<main id="root">
		<h1>Request Header Parser Microservice</h1>
		<h2>Requirements:</h2>
		<ul>
			<li>I can get the IP address, preferred languages (from header Accept-Language) and system infos (from header User-Agent) for my device.
			</li>
		</ul>
		<h3>Example Usage:</h3>
		<a href="/api/whoami">[base url]/api/whoami</a>
		<h3>Example Output:</h3>
		<p>
			{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5", "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}
		</p>
	</main>
</body>
</html>
